.MainChat
  .MainChat__groupinfo
    .MainChat__groupinfo__name
      <グループ表示>
      .MainChat__groupinfo__members
        Member:aaaaaa
    = link_to "#", class: "MainChat__groupinfo__edit" do
      Edit
  .MainChat__showmessage
    .MainChat__showmessage__user
      ユーザー
      .MainChat__showmessage__time
        yyyy/MM/dd(Sun) mm:hh:ss
    .MainChat__showmessage__text
      メッセージ
    .MainChat__showmessage__user
      ユーザー
      .MainChat__showmessage__time
        yyyy/MM/dd(Sun) mm:hh:ss
    .MainChat__showmessage__text
      メッセージ
  .MainChat__typeform
    -# test string
    <フォーム>