.MainChat {
  width: calc(100vw - 300px);
  .MainChat__groupinfo {
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
  }
  .MainChat__showmessage {
    height: calc(100% - 100px - 90px);
    background-color: #fafafa;
  }
  .MainChat__typeform {
    height: 90px;
    background-color: #d2d2d2;
  }
  // test string
  color: #000000;
  text-align: center;
}