.MainChat {
  width: calc(100vw - 300px);
  .MainChat__groupinfo {
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    &__name {
      color: #333333;
      font-size: 20px;
      text-align: left;
      margin-top: 35px;
    }
    &__members {
      color: #999999;
      font-size: 12px;
      text-align: left;
      margin-top: 15px;
    }
    &__edit {
      display: block;
      height: 40px;
      line-height: 40px;
      color: #38aef0;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      border: 1px solid #38aef0;
      margin: auto 0;
      padding: 0 20px;
    }
  }
  .MainChat__showmessage {
    height: calc(100% - 100px - 90px);
    background-color: #fafafa;
    padding: 35px 40px;
    display: flex;
    flex-direction: column;
    &__user {
      display: inline-block;
      justify-content: left;
      color: #333333;
      font-size: 16px;
      text-align: left;
    }
    &__time {
      display: inline-block;
      color: #999999;
      font-size: 12px;
    }
    &__text {
      color: #434a54;
      font-size: 14px;
      line-height: 60px;
      text-align: left;
      margin-top: 12px;
    }
  }
  .MainChat__typeform {
    height: 90px;
    background-color: #d2d2d2;
    padding: 0 50px 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .MainChat__format {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__btm {
      text-align: center;
      padding: 0 30px;
      line-height: 50px;
      color: #ffffff;
      font-size: 16px;
      background-color: #38aef0
    }
  }
  .MainChat__textbox {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &__body {
      height: 50px;
      width: 100%;
      padding-left: 10px;
      margin-right: 15px;
      text-align: left;
      &--image {
        position: absolute;
        font-size: 25px;
        line-height: 50px;
        margin-right: 15px;
        right: 10px;
      }
      &--file {
        display: none;
      }
    }
  }
}