.SideBar {
  width: 300px;
  .UserInfo {
    height: 100px;
    width: 100%;
    background-color: #253141;
  }
  .GroupList {
    height: calc(100% - 100px);
    background-color: #2f3e51;
  }
  // test string
  color: #ffffff;
  text-align: center;
}